// Add your base style here

$font-stack: 'Vollkorn serif';
$primary-color: #333;

body{
  font: 100% $font-stack;
  color: $primary-color;
}

button{
  border-radius: 0; 
}

img {
  width: 60px;
}

.btn-primary {   
  background-color: #000088;
  border-color: #000088;
}

.lead{
  background-color:transparent;
}
