// Write Your Module Style here

$slide-head-color: #f4f4f4;
$slide-head-bgcolor: rgb(236, 227, 227);
$slide-text-color:black;

.d-block{
    height: 30rem;
}

.carousel-item{
    h1{
        color:$slide-head-color;
        // background-color: $slide-head-bgcolor;
        font-size: 3rem;
      
    }
    p{
        font-family: Tangerine, serif;
        color: $slide-text-color;
        font-size: 1.09rem;
    }
}

.card-img-top{
    height: 20rem;
}

.collapse{
    img{
        width: 8rem;
        height: 2rem;
    }
}
.navbar-brand{
    img{
        height: 5rem;
        width: 6rem;
        background: gray;
    }
}
.row{
    width: 100%;
}
// recent annoucement button
.btn-info {
    color: #fff;
    // background-color: #17a2b8;
    background-color: teal !important;
    border-color: #17a2b8; 
}